
#box1{
    height: 450px;
    width: 100%;
    background-image: url(i1.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box2{
    height: 450px;
    width: 100%;
    background-image: url(i2.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
#box3{
    height: 450px;
    width: 100%;
    background-image: url(i3.jpg);
    background-size: cover;
    display: table;
    background-attachment: fixed;
}
.parallax-content{
    font-size: 50px;
    color:white;
    display: table-cell;
    vertical-align: middle;
}

.parallax-content-center{
    color:white;
    display: table-cell;
    vertical-align: middle;
}
